* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #E5E5E5;
    font-family: 'Rubik';
}

.sidebar {
    width: 100px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.5s;
    position: fixed;
    top: 0;
}

.sidebar:hover {
    width: 234px;
}

.logo {
    color: #2A86B1;
    font-size: 50px;
}

.logo i::after {
    opacity: 1;
    color: #3FA5D5;
}

.list {
    list-style: none;
}

.sidebar_link {
    text-decoration: none;
    color: #939393;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    display: flex;
    margin: 55px 0;
    align-items: center;
    transition: .5s;
    margin-left: 15px;
}

.sidebar_link:hover {
    color: #2A86B1;
}

.sidebar_icon {
    font-size: 35px;
    margin-right: 30px;
    text-align: center;
}

.sidebar_icon i {
    width: 50px;
}
/* Sidebar end */
/* Intro start */
.intro {
    height: 500px;
    background-color: white;
    border-radius: 14px;
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}
.intro_bg {
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
}

.intro_info {
    margin-left: 62px;
}

.intro_title {
    color: #464748;
    font-size: 50px;
    line-height: 59px;
    font-weight: 900;
    width: 332px;
    font-weight: bold;
    position: relative;
}
.intro_title::before{
    content: '';
    display: block;
    width: 100px;
    height: 50px;
    background-color: #3FA5D5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.intro_text {
    width: 314px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #696868;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}

.link {
    text-decoration: none;
    background: #3FA5D5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 7px 63px;
    color: white;
}
/* Intro end */
/* Catalog start */
.catalog{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.catalog_info{
    display: flex;
    gap: 30px;
}
.item{
    width: 255px;
    height: 338px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 18px 19px;
    align-items: center;
}
.item h2{
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #2A86B1;
    height: 50px;
}
.item i{
    font-size: 90px;
    color: #3FA5D5;
}
/* Catalog end */
/* Box start */
.box{
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}
.box_left{
    max-width: 825px;
    width: 100%;
}
.box_title{
    font-size: 20px;
    line-height: 24px;
    color: #686868;
    margin-bottom: 22px;
}
.box_text{
    font-size: 16px;
    line-height: 19px;
    color: #545454;
    text-align: justify;
    margin-bottom: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
}
.box_right{
    width: 255px;
}
.box_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 15px;
}
.box_info{
    width: 155px;
}
.box_info h3{
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #323232;
    margin-bottom: 5px;
}
.box_info p{
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: black;
}
/* Box end */
/* Footer start */
.footer{
    height: 140px;
    background-color: #3FA5D5;
    display: flex;
    align-items: center;
}
.footer_box{
    display: flex;
    justify-content: space-between;
}
.footer_title{
    font-size: 50px;
    line-height: 59px;
    color: white;
}
.footer_info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_tel{
    font-size: 18px;
    line-height: 21px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer_link{
    text-decoration: none;
    color: white;
   
}
/* Footer endd */